<table class="table table-inverse">
  <thead>
    <tr>
      <th>ID</th>
      <th>Employee Name</th>
      <th>LBDID</th>
      <th>Day</th>
      <th>Month</th>
      <th>Year</th>
      <th>Hour Check In</th>
      <th>Minute Check In</th>
      <th>Hour Check Out</th>
      <th>Minute Check Out</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of listitems">
      <td>{{ item.id }}</td>
      <td>{{ item.firstName }} {{ item.lastName }}</td>
      <td>{{ item.lbd }}</td>
      <td>{{ item.day }}</td>
      <td>{{ item.month }}</td>
      <td>{{ item.year }}</td>
      <td>{{ item.hourCheckin }}</td>
      <td>{{ item.minuteCheckin }}</td>
      <td>{{ item.hourCheckout }}</td>
      <td>{{ item.minuteCheckout }}</td>
    </tr>
  </tbody>
</table>
