<div class="col-md-12 col-xl">
<h5 class="mb-3">Employee's Salary Details</h5>

  <div class="card">
    <div class="card-body">
      <h6 class="mb-2 f-w-400 text-muted">Total: {{TotalSalary}} for year</h6>
      <div >
        
          
        <apx-chart
        [series]="datamonthChart.series"
          [chart]="datamonthChart.chart"
          [plotOptions]="datamonthChart.plotOptions"
          [dataLabels]="datamonthChart.dataLabels"
          [xaxis]="datamonthChart.xaxis"
          [colors]="datamonthChart.colors"
          [stroke]="datamonthChart.stroke"
          [yaxis]="datamonthChart.yaxis"
          [grid]="datamonthChart.grid">
        </apx-chart>

      </div>
    </div>
  </div>
</div>
