<ng-template *ngIf="nameoptions!='sex'  ">

<select [(ngModel)]="model" (ngModelChange)="onModelChange($event)" (blur)="onTouched()"  class="form-control">
  <option *ngFor="let option of options" [value]="option.id">
    {{ option.name }}
  </option>
</select>
</ng-template>
<ng-template *ngIf="nameoptions=='sex'  ">
  <select *ngIf="sexlan=='0' " [(ngModel)]="model" (ngModelChange)="onModelChange($event)" (blur)="onTouched()"  class="form-control">
    <option value="0"> Female</option>
    <option value="1"> Male</option>
   </select> 
   <select *ngIf="sexlan=='1' " [(ngModel)]="model" (ngModelChange)="onModelChange($event)" (blur)="onTouched()"  class="form-control">
    <option value="0"> Nữ</option>
    <option value="1"> Nam</option>
   </select> 
</ng-template>
