<div class="row">
  <div class="row  d-flex justify-content-center">
    <div class=" col-xl-3 col-md-6 flex-fill">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Total Hours:</div> 
            <h2  *ngIf="spinner" class="text-center" #loaddata>{{HomeDetail.totalworkhour.toFixed(2)}}</h2>
            <ng-template #loaddata>
              <app-spinner-beta class="d-flex justify-content-center "></app-spinner-beta>
            </ng-template>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a (click)="changeFlag(0)" class="small text-white stretched-link" >View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 flex-fill">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">Employee Work:</div>
            <h2 *ngIf="spinner" class="text-center" #loaddata1> {{HomeDetail.employeeWork}}</h2>
            <ng-template #loaddata1>
              <app-spinner-beta class="d-flex justify-content-center "></app-spinner-beta>
            </ng-template>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a (click)="changeFlag(3)" class="small text-white stretched-link"  >View Details</a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 flex-fill">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Employee Off</div>
            <h2  *ngIf="spinner" class="text-center" #loaddata2>{{HomeDetail.employeeOff}} </h2>
            <ng-template #loaddata2>
              <app-spinner-beta class="d-flex justify-content-center "></app-spinner-beta>
            </ng-template>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a (click)="changeFlag(1)" class="small text-white stretched-link" >View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div> 
    <div class="col-xl-3 col-md-6 flex-fill">
      <div class="card bg-success text-white mb-4">
          <div class="card-body">Employee Late:</div>
          <div *ngIf="spinner"  #loaddata3>
            <h2  class="text-center"> {{HomeDetail.employyLate}}</h2>
          </div>
          
          <ng-template #loaddata3>
            <app-spinner-beta class="d-flex justify-content-center "></app-spinner-beta>
          </ng-template>
          <div class="card-footer d-flex align-items-center justify-content-between">
              <a (click)="changeFlag(2)" class="small text-white stretched-link" >View Details</a>
              <div class="small text-white"><i class="fas fa-angle-right"></i></div>
          </div>
      </div>
  </div>
</div>
  <div class="col-sm">
    <div class="card">
      <div class="d-flex card-header ">{{textHeader}}
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <app-home-list-details   [items]="reponsedata.items" *ngIf="flagdetail==0" ></app-home-list-details>
          <app-home-listemployee-details *ngIf="flagdetail!=0" [items]="reponsedata.items"></app-home-listemployee-details>
          <app-pagingnav class="d-flex justify-content-end"  [pagesize]="pagecount" (numberchange)="numberchange($event)"  #child></app-pagingnav>
        </div>
      </div>
    </div>
  </div>
</div>
