

<app-Notification [message]="messageRequest"></app-Notification>
<div class="card">
  <div class="card-body">
    <form class="form" #form="ngForm" (ngSubmit)="Add(form.value)"  >
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">ID</label>
            <div class="col-sm-10">
                <input type="text" id="id" ngModel name="id" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-10">
                <input type="text" id="firstname"  ngModel name="firstname"  pattern="[a-zA-Z ]+"  #firstnameModel="ngModel" class="form-control" >
                <div *ngIf="firstnameModel.invalid && (firstnameModel.dirty || firstnameModel.touched)">

                  <small class="text-danger" *ngIf="firstnameModel.errors?.['required']">Name is require</small>
                  <small class="text-danger" *ngIf="firstnameModel.errors?.['pattern']">User should be text</small>
                </div>

            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Middle Name</label>
            <div class="col-sm-10">
                <input type="text" id="middlename"  ngModel name="middlename" pattern="[a-zA-Z ]+"  #middlenameModel="ngModel"  class="form-control" >
                <div *ngIf="middlenameModel.invalid && (middlenameModel.dirty || middlenameModel.touched)">

                  <small class="text-danger" *ngIf="middlenameModel.errors?.['required']">Name is require</small>
                  <small class="text-danger" *ngIf="middlenameModel.errors?.['pattern']">User should be text</small>
                </div>

            </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Last Name</label>
          <div class="col-sm-10">
              <input type="text" id="lastname"  ngModel name="lastname"  pattern="[a-zA-Z ]+"  #lastnameModel="ngModel" class="form-control" >
              <div *ngIf="lastnameModel.invalid && (lastnameModel.dirty || lastnameModel.touched)">

                <small class="text-danger" *ngIf="lastnameModel.errors?.['required']">Name is require</small>
                <small class="text-danger" *ngIf="lastnameModel.errors?.['pattern']">User should be text</small>
              </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Date of Birth</label>
          <div class="col-sm-10">
            <input type="date" [(ngModel)]="selectedDate" (change)="onDateChange($event)" id="dob" name="dob">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label"> Sex </label>
          <div  class="col-sm-10">
          <label>
            <input type="radio" name="sex" [value]="1" [(ngModel)]="selectedGender" (change)="OnGenderChange()"> Nam
          </label>

          <label>
            <input type="radio" name="sex" [value]="0" [(ngModel)]="selectedGender"  (change)=" OnGenderChange()"> Nữ
          </label>
        </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Identity Card</label>
          <div class="col-sm-10">
              <input type="text" id="cic" ngModel name="cic"  pattern="[0-9]+" #CicModel="ngModel" class="form-control">
              <div *ngIf="CicModel.invalid && (CicModel.dirty || CicModel.touched)">

                <small class="text-danger" *ngIf="CicModel.errors?.['required']">Money is require</small>
                <small class="text-danger" *ngIf="CicModel.errors?.['pattern']">Money should be number</small>
              </div>
          </div>
      </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Phone Number</label>
          <div class="col-sm-10">
              <input type="text" id="numberPhone" ngModel name="numberPhone" pattern="[0-9]+" #PhoneModel="ngModel" class="form-control">
              <div *ngIf="PhoneModel.invalid && (PhoneModel.dirty || PhoneModel.touched)">

                <small class="text-danger" *ngIf="PhoneModel.errors?.['required']">Money is require</small>
                <small class="text-danger" *ngIf="PhoneModel.errors?.['pattern']">Money should be number</small>
              </div>
          </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10">
            <input type="text" id="address" ngModel name="address" class="form-control">
        </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Rank</label>
      <div class="col-sm-10">
        <select [(ngModel)]="selectedRankID" name="rankID" (change)="onRankChange()" class="form-control">
          <option  *ngFor="let rank of RanksData" [value]="rank.iDrank"  >{{ rank.name }}</option>
        </select>
      </div>
  </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Position</label>
        <div class="col-sm-10">
          <select [(ngModel)]="selectedPositionID" name="positionID" (click)="GetSalaryByRankAndPosition()" (change)="onPositionChange()" class="form-control">
            <option *ngFor="let position of PositionsData" [value]="position.iDposition">{{ position.name }}</option>
          </select>
        </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Account</label>
      <div class="col-sm-10">
          <input type="text" id="account" ngModel name="account" class="form-control">
      </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
        <input type="text" id="password" ngModel name="password" class="form-control">
    </div>
</div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Url Image</label>
      <div class="col-sm-10">
        <input type="file" (change)="OnchangeFile($event)" id="urlImage" ngModel name="urlImage" class="form-control" />
      </div>
  </div>


        <button class="btn btn-outline-info mx-auto">
            Add
      </button>
    </form>
    </div>
    </div>




