<div class="row">
  <div class="col-md-12 col-xl">
    <h5 class="mb-3">Recent Orders</h5>
    <div class="card tbl-card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-borderless mb-0">
            <thead>
              <tr>
                <th>TRACKING NO.</th>
                <th>PRODUCT NAME</th>
                <th class="text-end">TOTAL ORDER</th>
                <th>STATUS</th>
                <th class="text-end">TOTAL AMOUNT</th>
              </tr>
            </thead>
            <tbody>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <app-workhour-chart-statistic></app-workhour-chart-statistic>
  
</div>