<div class="col-md-12 col-xl">
<h5 class="mb-3">Employee's Salary Details</h5>
  <div class="card">
    <div class="card-body">
      <div class="d-flex  justify-content-between"> 
        <div class=" p-2 flex-grow-1 ">
          <h6 class="mb-2 f-w-400 text-muted">Total: {{TotalSalary | number: '1.2-2'}} for year</h6>
      </div>
      <div class="p-2">
        <select class="form-select" (change)="onChangeYear($event)">
          <option selected disabled>Select Year</option>
          <ng-container *ngFor="let year of yearOptions">
            <option [value]="year" [selected]="year === currentYear">{{ year}}</option>
          </ng-container>
        </select>
      </div>
      </div>
      <div>
        <apx-chart
        [series]="datamonthChart.series"
          [chart]="datamonthChart.chart"
          [plotOptions]="datamonthChart.plotOptions"
          [dataLabels]="datamonthChart.dataLabels"
          [xaxis]="datamonthChart.xaxis"
          [colors]="datamonthChart.colors"
          [stroke]="datamonthChart.stroke"
          [yaxis]="datamonthChart.yaxis"
          [grid]="datamonthChart.grid">
        </apx-chart>

      </div>
    </div>
  </div>
</div>
