<div class="row">
  <div class="col-md-12 col-xl-8">
    <h5 class="mb-3">Salary Last Month</h5>
    <div class="card tbl-card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-borderless mb-0">
            <thead>
              <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>Basic Salary</th>
                <th>Total Workhour </th>
                <th>Total Salary</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of salaryemployee.items">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td class="text-center">{{item.basicSalary}} </td>
                <td class="text-center">{{item.workhour}}</td>
                <td class="text-center">{{item.salary}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-xl-4">
    <h5 class="mb-3">Top 5 Salary</h5>
    <div class="card">
      <div class="card-body">
        <div class="list-group list-group-flush">
          <a href="javascript:" class="list-group-item list-group-item-action" *ngFor="let item of top5salary;let i = index">
            <div class="d-flex" >
              <div class="flex-shrink-0 align-self-center" >
                <div class="avtar avtar-s rounded-circle text-success bg-light-success "> {{i+1}} </div>
              </div>
              <div class="flex-grow-1 ms-3 align-self-center">
                <h6 class="mb-1">{{item.salary}}vnd/H</h6>
                <p class="mb-0 text-muted">Position: {{item.positionName}}   </p> 
                <p class="mb-0 text-muted">Rank: {{item.rankName}}</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
