
<h5>Update</h5>

<form class="form" #form="ngForm" (ngSubmit)="Update(form.value)" >
    <div class="form-group row">
        <div class="col-sm-10">
          <p [(ngModel)]="selectedID" name="id"> ID : {{data.id}}</p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-5 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" id="name"  ngModel name="name" [ngModel]="data.name" class="form-control" >
        </div>
    </div>
    <button >
        Update
  </button>
</form>


