.border-full{
    border: 2px solid rgba(0, 0, 0, 0.4);
}
.border_top{ 
    border-top: 2px solid rgba(0, 0, 0, 0.4);
}
.custom-cursor {
    cursor: pointer; 
    background-color: white; 
  }
  
  .custom-cursor a:hover {
    color: gray; 
  }
  .custom-cursor i:hover {
    color: gray; 
  }
.text_hover{
    color: black;
}
