<div class="card">
  <div class="card-header">
      <h3>Position table</h3>
      <div class="card-header-right">
<ul class="list-unstyled card-option">
<li><i class="fa fa-chevron-left"></i></li>
<li><i class="fa fa-window-maximize full-card"></i></li>
<li><i class="fa fa-minus minimize-card"></i></li>
<li><i class="fa fa-refresh reload-card"></i></li>
<li><i class="fa fa-times close-card"></i></li>
</ul>
</div>

  </div>
  <div class="card-block table-border-style" >
      <div class="table-responsive" >
          <table class="table table-inverse">
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>Name</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of datas">
                      <td>{{item.iDposition}}</td>
                      <td>{{item.name}}</td>
                  </tr>

              </tbody>
          </table>
      </div>
  </div>
</div>
