<table class="table table-hover table-borderless mb-0">
  <thead>
    <tr>
      <th>Employee Name</th>
      <th>Hour Checkin</th>
      <th>Minute Checkin</th>
      <th>Hour Checkout</th>
      <th>Minute Checkout</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{item.name}}</td>
      <td>{{item.hourCheckin}}</td>
      <td>{{item.minuteCheckin}}</td>
      <td>{{item.hourCheckout}}</td>
      <td>{{item.minuteCheckout}}</td>
     
    </tr>
  </tbody>
</table>