<div class="card">
  <div class="card-header">
      <h3>List Workhour</h3>
      <div class="card-header-right">
<ul class="list-unstyled card-option">
<li><i class="fa fa-chevron-left"></i></li>
<li><i class="fa fa-window-maximize full-card"></i></li>
<li><i class="fa fa-minus minimize-card"></i></li>
<li><i class="fa fa-refresh reload-card"></i></li>
<li><i class="fa fa-times close-card"></i></li>
</ul>
</div>

  </div>
  <div class="card-block table-border-style" >
      <div class="table-responsive" >
        <app-workhour-list-detail [listitems]="listitems"></app-workhour-list-detail>
          <app-pagingnav class="d-flex justify-content-end"   [pagesize]="pageCount"  (numberchange)="numberchange($event)"></app-pagingnav>
      </div>
  </div>
</div>
