
  <div class="search">
        <input type="text" name="filter" [(ngModel)]="searchText" placeholder="Enter id" #fill>
  </div>
  <button class="btn btn-secondary btn-sm" (click)=" ClicktoShowFormAdd()">Add</button>

<div class="row">
  <div [ngClass]="{'col-md-12': !ShowForm, 'col-md-12 col-xl-8': ShowForm}">
    <div class="mb-5"></div>
      <div class="card tbl-card">
        <div class="card-body">
          <div class="table-responsive" >
            <table class="table table-hover table-borderless mb-0">
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Money</th>
                      <th>Options</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of datas | filter : searchText ">
                      <td>{{item.id}}</td>
                      <td>{{item.name}}</td>
                      <td>{{item.money}}</td>
                      <td>
                      <button (click)="ButtonClickToUpdate(item.id)">
                        <img class="ti ti-user-plus"  src="/frontend/src/img/plus.png" />
                      </button>
                      <button (click)="Delete($event,item.id)">
                        <img   src="/frontend/src/img/plus.png" />
                      </button>
                    </td>
                  </tr>

              </tbody>
            </table>
          <app-pagingnav class="d-flex justify-content-end" (numberchange)="pagechange($event)"  [pagesize]="pagecount"  #child></app-pagingnav>
          </div>
        </div>
      </div>

      <div *ngIf="!spinner">
        <h1 class="text-center text-primary"> Wait for Data </h1>
      <app-spinner-beta></app-spinner-beta>
      </div>
    </div>


 <div class="col-md-12 col-xl-4" [ngClass]="{'col-md-7': ShowFormAdd, 'd-none': !ShowFormAdd}" *ngIf="ShowFormAdd">
  <h5 class="mb-4">Add</h5>
    <div class="card">
      <div class="card-body">
        <div class="list-group list-group-flush">
          <app-allowance-add (onSuccess)="OnSuccess()"></app-allowance-add>
        </div>
      </div>
    </div>
  </div>



  <div class="col-md-12 col-xl-4" [ngClass]="{'col-md-7': ShowFormUpdate, 'd-none': !ShowFormUpdate}" *ngIf="ShowFormUpdate">
    <h5 class="mb-4">Update</h5>
    <div class="card">
      <div class="card-body">
        <div class="list-group list-group-flush">
            <app-allowance-update [selectedID]="selectedID" (onSuccess)="OnSuccess()"></app-allowance-update>
       </div>
      </div>
    </div>
  </div>
</div>
