@model QLNSAdminWeb.Models.Timekeeper
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/css.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>

<body class="bg-info">
    <div class="container mt-5 ">
        <div class="row d-flex justify-content-center align-items-center ">
            <div class="col-md-8 ">
                <form id="regForm" method="post" action="@Url.Action("TimeKeeper", "Login")">
                    <div class="row d-flex ">
                        <h1 id="register" class="text-left">Timekeeping</h1>
                        <button type="button" onclick="window.location.href='/Login/Index'" class="login btn btn-dark ">Login</button>
                    </div>
                    <div class="text-center font-weight-bold display-4 ">
                        <p id="datenow"> </p>
                    </div>
                    <div id="dong_ho">

                        <div id="thoi_gian">
                            <div>
                                <span id="gio" >00</span><span>Giờ</span>
                            </div>
                            <div>
                                <span id="phut" >00  </span><span>Phút</span>
                            </div>
                            <div>
                                <span id="giay">00</span><span>Giây</span>
                            </div>
                        </div>
                    </div>
                    <input type="text" asp-for="EmployeesID"  name="EmployeesID" class="formStyle" placeholder="Your ID" required />
                    @if (ViewBag.result == -1)
                    {
                        <div class="alert alert-warning alert-dismissible fade show">
                            <button type="button" style=" border: none;background-color: #fff3cd " class="close" data-dismiss="alert">×</button>
                            <strong>Warning!</strong> Your ID is Wrong 
                        </div>
                    }
                    <div class="row d-flex justify-content-center mt-3">
                        <input type="hidden" name="submitType" id="submitType" />
                        <input type="submit" name="checkin" class="btn btn-outline-primary mr-3 w-25" value="Check in" onclick=" document.getElementById('submitType').value='checkin' ;" />
                        <input type="submit" name="checkout" class="btn btn-outline-primary ml-3 w-25" value="Check out" onclick=" document.getElementById('submitType').value='checkout' ;" />
                        
                        
                    </div>
                </form>
                

            </div>
        </div>
        <div class="modal fade" id="dialog1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title"> Notice </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body text-center">
                     @ViewBag.mes
                    </div>
                    <div class="modal-footer d-flex ">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"> Ok</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close </button>
                    </div>

                </div>
            </div>
        </div>



        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <script>
        var today = new Date();
        var date = today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear();
        document.getElementById("datenow").innerHTML = date;


    </script>
    <script>
        function Dong_ho() {
            var gio = document.getElementById("gio");
            var phut = document.getElementById("phut");
            var giay = document.getElementById("giay");

            var Gio_hien_tai = new Date().getHours();
            var Phut_hien_tai = new Date().getMinutes();
            var Giay_hien_tai = new Date().getSeconds();

            gio.innerHTML = Gio_hien_tai;
            phut.innerHTML = Phut_hien_tai;
            giay.innerHTML = Giay_hien_tai;
        }
        var Dem_gio = setInterval(Dong_ho, 1000);
       
    </script>
        @if (ViewBag.result == 1)
    {
        <script>
                $('#dialog1').modal('show')
        </script>
    }

</body>

</html>