
<h5>Update</h5>

<form class="form" #form="ngForm">
    <div class="form-group row">
        <label class="col-sm-5 col-form-label">ID</label>
        <div class="col-sm-10">
          <input *ngIf="selectedID" type="text" id="iDrank"  ngModel name="iDrank" [ngModel]="data.iDrank" class="form-control" >
          <input *ngIf="!selectedID" type="text" id="iDrank"  ngModel name="iDrank"class="form-control" >
        </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-5 col-form-label">Name</label>
      <div class="col-sm-10">
          <input type="text" id="name"  ngModel name="name" [ngModel]="data.name" pattern="[a-zA-Z ]+"  #nameModel="ngModel" class="form-control" >
          <div *ngIf="nameModel.invalid && (nameModel.dirty || nameModel.touched)">

            <small class="text-danger" *ngIf="nameModel.errors?.['required']">Name is require</small>
            <small class="text-danger" *ngIf="nameModel.errors?.['pattern']">User should be text</small>
          </div>
      </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-5 col-form-label">Rank Role</label>
    <div class="col-sm-10">
        <input type="text" id="rankroleid"  ngModel name="rankRoleID" [ngModel]="data.rankRoleID"  class="form-control" >
    </div>
</div>
<ng-template [ngIf]="selectedID">
  <button class="btn btn-outline-info mx-auto" (click)="Update(form.value)"> Update </button>
</ng-template>

<ng-template [ngIf]="!selectedID">
  <button class="btn btn-outline-info mx-auto" (click)="Add(form.value)"> Add</button>
</ng-template>
</form>


