
<div class="row h-100">
  <div class="card main-container">
    <div class="card-body">
      <h2 class="text-center">Work Hour</h2>
        <div class="d-flex">
          <div class="p-2">
            <select class="form-select" (change)="onChangeMonth($event)">
              <ng-container *ngFor="let number of [].constructor(12); let i = index">
                <option [value]="i + 1" [selected]="i + 1 === date.month">{{ i + 1 }}</option>
              </ng-container>
            </select>
          </div>
          <div class="p-2">
            <select class="form-select" (change)="onChangeYear($event)">
              <option selected disabled>Select Year</option>
              <ng-container *ngFor="let year of yearOptions">
                <option [value]="year" [selected]="year === date.year">{{ year }}</option>
              </ng-container>
            </select>
          </div>
        </div>
        <div class="table-responsive" >
          <table class="table table-hover table-borderless mb-0">
            <thead>
              <tr>
                  <th>Month</th>
                  <th>Total Hour</th>
              </tr>
          </thead>
            <tbody>
              <tr>
                <td>{{date.month}}</td>
                <td>{{totalWorkHour}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>