
<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="auth-header">
        <a href="javascript:"><img src="assets/images/logo-dark.svg" alt="logo" /></a>
      </div>

      <div class="card my-5">
        <div class="card-body">
          <form [formGroup]="loginForm">
          <div class="d-flex justify-content-between align-items-end mb-4">
            <h3 class="mb-0 align-items-end"><b>Login</b></h3>

          </div>
          <div class="form-group mb-3" [class.error]="loginForm.controls['account'].dirty && loginForm.hasError('required','account')">
            <label class="form-label" for="">Username</label>
            <input #usernameInput formControlName="account" type="text" class="form-control"placeholder="Username"  />
            <small *ngIf="loginForm.controls['account'].dirty && loginForm.hasError('required','account')" class="text-danger">*Username is required</small>
          </div>
          <div class="form-group mb-3" [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">
            <label class="form-label" for="password">Password</label>
            <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password" />
            <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')" class="text-danger">*password is required</small>
          </div>
          <div class="d-flex mt-1 justify-content-between">
            <div class="form-check">
              <input class="form-check-input input-primary" type="checkbox" id="customCheckc1" checked="" />
              <label class="form-check-label text-muted" for="customCheckc1">Keep me sign in</label>
            </div>
            <h5 class="text-secondary f-w-400"><a href="javascript:">Forgot Password?</a></h5>
          </div>
          <div *ngIf="message==true">
          <app-alert [alert]="alert" (flagchange)='flagchangeHandler($event)'></app-alert>
          </div>
          <div class="d-grid mt-4">
            <button  (click)="onSubmit()"   type="submit" class="btn btn-primary">
              <span class="spinner-border spinner-border-sm" role="status" *ngIf="flag==1"  ></span>
              <span *ngIf="flag===0" >Login</span></button>
          </div>
        </form>
          <div class="row" style="height: 80px;">
            <div class="col-4">
              <div class="d-grid " >

              </div>
            </div>
            <div class="col-4">
              <div class="d-grid">

              </div>
            </div>
            <div class="col-4">
              <div class="d-grid">

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="auth-footer row">
        <!-- <div class=""> -->
        <div class="col my-1">
          <p class="m-0">Copyright © <a href="https://codedthemes.com/" target="_blank">CodedThemes</a></p>
        </div>
        <div class="col-auto my-1">
          <ul class="list-inline footer-link mb-0">
            <li class="list-inline-item"><a href="https://codedthemes.com/" target="_blank">Home</a></li>
            <li class="list-inline-item"><a href="https://codedthemes.com/privacy-policy/" target="_blank">Privacy Policy</a></li>
            <li class="list-inline-item"><a href="https://codedthemes.support-hub.io/" target="_blank">Contact us</a></li>
          </ul>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>

  <!--zxing-scanner (scanSuccess)="onCodeResult($event)"></zxing-scanner-->
  <p>
    <small>Scan Result</small>
    <strong> {{QrCodeResultQ`}}</strong>
  </p>
</div>
