<ng-scrollbar style="height: calc(100vh - 88px)" id="nav-ps-mantis" visibility="hover">
  <div class="navbar-content">
    <ul class="nav coded-inner-navbar" (clickOutside)="fireOutClick()" (mouseleave)="navMob()">
      <ng-container *ngFor="let item of navigation">
        <app-nav-group-employee *ngIf="item.type === 'group'" [item]="item"></app-nav-group-employee>
        <app-nav-collapse-employee *ngIf="item.type === 'collapse'" [item]="item"></app-nav-collapse-employee>
        <app-nav-item-employee *ngIf="item.type === 'item'" [item]="item"></app-nav-item-employee>
      </ng-container>
    </ul>

  </div>
</ng-scrollbar>
