<form class="form w-100 mx-2" #form="ngForm" (ngSubmit)="Add(form.value)">

  <div class="d-flex flex-column w-100 p-1">
    <div class="form-containner w-100 d-flex flex-column   "
      *ngFor="let items of Datas">
      <div class="tittle-header pb-2 d-flex flex-row gap-2 align-items-center mt-2">
        <div >
          <i [className]="items.sys.icon" style="font-size: 20px;" ></i>
        </div>
        <div>
          {{items.sys.label}}
        </div>
       
      </div>
      <div class="card">
        <div class="card-body">
            <div class="form-group row w-100 " style="margin-bottom: 10px;"
              *ngFor="let detailitems of items.sysList">
              <div class="col col-sm-4  d-flex flex-column gap-1"
                *ngFor="let item of detailitems">
                <div class="header-item "  [ngClass]="{'compulsory-item':item.isImportant}" >
                  {{item.label}}
                </div>
                <div class="detail-item">
                  <text-input *ngIf="item.kindInput<3 || item.kindInput==7" ngModel name="{{item.name}}" typeInput="text" LanguageClass="form-control"
                    [Data_input]="item"
                     />
                     <select-input *ngIf="item.kindInput==3" [nameoptions]="item.routes" ngModel name="{{item.name}}"   LanguageClass="form-control"/>
                      <app-file-input *ngIf="item.kindInput==6" ngModel name="{{item.name}}" LanguageClass="form-control"/>
                </div>
              </div>
            </div>
        </div>
      </div>
  
    </div>
  
  </div>
  <button class="btn btn-outline-info mx-auto"> Add </button>
  </form>