.custom-icon {
display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

.america_icon {
  background-image: url("../../assets/icon/america.svg");
}
.vietnam_icon {
  background-image: url("../../assets/icon/vietnam.svg");
}
.logo_imgae {
  
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../assets/logo/t2pro-logo.png");
}