
<h5>Update Position</h5>

<form class="form" #form="ngForm" (ngSubmit)="Update(form.value)">
    <div class="form-group row">
        <div class="col-sm-10">
          <p [(ngModel)]="selectedID" name="id"> ID : {{data.id}}</p>
        </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-5 col-form-label">Rank</label>
      <div class="col-sm-10">
        <select [(ngModel)]="selectedRankID" name="rankID" (change)="onRankchange()" class="form-control">
          <option *ngFor="let rank of RanksData" [value]="rank.iDrank">{{ rank.name }}</option>
        </select>
      </div>
  </div>
    <div class="form-group row">
        <label class="col-sm-5 col-form-label">Position</label>
        <div class="col-sm-10">
          <select [(ngModel)]="selectedPositionID" name="positionID" (change)="onPositionchange()" class="form-control">
            <option *ngFor="let position of PositionsData" [value]="position.iDposition">{{ position.name }}</option>
          </select>
        </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-5 col-form-label">Money</label>
      <div class="col-sm-10">
          <input type="text" id="money"  ngModel name="money" [ngModel]="data.money"  class="form-control" >
      </div>
  </div>
    <button class="btn btn-outline-info mx-auto">
        Update
  </button>
</form>


