zxing-scanner {
  width: 100%; /* Đặt chiều rộng của khung quét */
  height: 100%; /* Đặt chiều cao của khung quét */
  position: relative; /* Đặt vị trí tương đối để có thể sử dụng top và left */
}
.test {
  width: 100%; /* Đặt chiều rộng của khung quét */
  height: 100%; /* Đặt chiều cao của khung quét */
  position: relative; /* Đặt vị trí tương đối để có thể sử dụng top và left */
}
.zxing-scanner__preview {
  width: 100%; /* Đặt chiều rộng của khung hiển thị video */
  height: 100%; /* Đặt chiều cao của khung hiển thị video */
}
zxing-scanner {
  background-color: #f0f0f0; /* Màu nền của khung quét */
}

.zxing-scanner__preview {
  border: 2px solid #ccc; /* Màu viền của khung hiển thị video */
}
.zxing-scanner__overlay__flash-button {
  background-color: #007bff; /* Màu nền của nút quét */
  color: #fff; /* Màu chữ của nút quét */
  padding: 10px 20px; /* Khoảng cách giữa nút và văn bản */
  border-radius: 5px; /* Bo góc cho nút */
}
.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.main {
  width: 100%;
  height: 100%;
  position: relative;
  color: #111e6c;
  /* Try using a background image
  background: url('images/frontPageBackground.jpg');*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1s ease;
  padding-top: 70px;
}
.main:before {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  /*background: #111e6c;*/
  opacity: 0.2;
  filter: alpha(opacity=90);
}
.main-text {
  top: 20%;
  left: auto;
  right: auto;
  position: relative;
  color: #111e6c;
}
.btn-circle,
#to-top {
  border-radius: 50%;
  background: #111e6c;
  padding: 6px;
  font-size: 14px;
  /* border-radius: 50%; */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.c2a-btn {
  margin: 48px auto 0;
  margin: 4.8rem auto 0;
}

.btn-default {
  color: #fff;
  background-color: #111e6c;
  border-color: #111e6c;
  transition: all 1s ease;
}

.btn-group-lg > .btn,
.btn-lg {
  padding: 18px 28px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 50px;
}

.btn-group .btn-or {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 99;
  box-shadow: 0;
  border: 2px solid #fff;
}