@import "bootstrap/dist/css/bootstrap.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import '../node_modules/@syncfusion/ej2-angular-popups/styles/material.css';
@import './scss/shared/button.scss';
@import './scss/shared/sreach.scss';
@import './scss/shared/icon.scss';


.loading-spinner{
    filter: brightness(98%);
}
body{
    background-color: #f5f5f5;
    font-family: Helvetica, Sans-Serif;
}
.row{
    margin-right:0 !important
}