@model QLNS.ViewModel.Catalogs.Employees.EmployeeCreateRequest

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-flex justify-content-center">
<h1>Create Employee</h1>

<hr />
</div>
        <div class="m-5">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">

            <div class="col-6">
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" required />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" required />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" required />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" required />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" class="form-control" required />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>

            <div class="form-group">
                    <label asp-for="Sex" class="control-label"></label>
                    <select asp-for="Sex" class="form-control" required>
                        <option>--Chọn danh mục--</option>
                        <option value="0"> FeMale</option>
                        <option value="1"> Male</option>
                    </select>
            </div>
            
        
            <div class="form-group">
                <label asp-for="CIC" class="control-label"></label>
                <input asp-for="CIC" class="form-control" required />
                <span asp-validation-for="CIC" class="text-danger"></span>
            </div>
       
            <div class="form-group">
                <label asp-for="NumberPhone" class="control-label"></label>
                <input asp-for="NumberPhone" class="form-control" required />
                <span asp-validation-for="NumberPhone" class="text-danger"></span>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" required />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RankID" class="control-label"></label>

                <select asp-for="RankID" asp-items="@ViewBag.Rank" class="form-control" required>
                    <option>--Chọn danh mục--</option>
                </select>
            
            </div>
            <div class="form-group">
                <label asp-for="PositionID" class="control-label"></label>
                <select asp-for="PositionID" asp-items="@ViewBag.Position" class="form-control" required>
                    <option>--Chọn danh mục--</option>
                </select>
           
            </div>
            <div class="form-group">
                <label asp-for="Account" class="control-label"></label>
                <input asp-for="Account" class="form-control" required />
                <span asp-validation-for="Account" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="Active" class="control-label"></label>
                    <select asp-for="Active" class="form-control" required>
                        <option>--Chọn danh mục--</option>
                        <option value="0"> No</option>
                        <option value="1"> Yes</option>
                    </select>
            </div>
            <div class="form-group">
                <label asp-for="ThumbnailImage" class="control-label"></label>
                <input asp-for="ThumbnailImage" type="file" class="form-control" required />
                <span asp-validation-for="ThumbnailImage" class="text-danger"></span>
            </div>
                <div class="form-group mt-5 ">
                <input type="submit" value="Create" class="btn btn-primary w-50" style="margin-left:25%" />
            </div>
            </div>
    </div>
        </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
