<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<div class="row">
  <div >
  <div class="card">
    <div class="card-header">
      <h3>Allowance and Employee Table</h3>
    </div>
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <!-- <div class="p-2 flex-grow-1">
          <div class="form align-items-center">
            <i class="fa fa-search"></i>
            <input
              type="text"
              name="search"
              [(ngModel)]="searchText"
              class="form-control form-input"
              placeholder="Search anything..."
              #fill
            />
          </div>
        </div> -->
        <div class="p-2">
          <button type="button" (click)="ButtonClickToOptions()" #showRules class="btn btn-outline-info mx-auto">Add new</button>
        </div>
      </div>
      <div>
        <table class="table table-bordered table-striped align-middle">
          <thead>
            <tr>
              <th>Allowance</th>
              <th>Employee</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of datas">
              <td scope="col d-flex ">
                <h5>{{ data.allowanceName }}</h5>
              </td>
              <td scope="col d-flex ">
                <h6>{{ data.employeeName }}</h6>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>
<div *ngIf="ShowForm">
  <app-allowance-rules></app-allowance-rules>
</div>


</div>
