
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h2 class="text-center">Contract</h2>
              <div class="table-responsive" >
                <table class="table table-hover table-borderless mb-0">
                  <thead>
                    <tr>
                        <th>ID</th>
                        <th>Content</th>
                        <th>Date</th>
                        <th>Term</th>
                    </tr>
                </thead>
                  <tbody>
                    <tr *ngFor="let item of datas">
                      <td>{{item.content}}</td>
                      <td>{{item.content}}</td>
                      <td>{{item.contractSigninDate}}</td>
                      <td>{{item.contractTerm}}</td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
