<div *ngIf="!spinner">
  <h1 class="text-center text-primary"> Wait for Data </h1>
<app-spinner-beta></app-spinner-beta>
</div>
<div class="card">
  <div class="card-header">
      <h3>Employee table</h3>
      <div class="card-header-right">
<ul class="list-unstyled card-option">
<li><i class="fa fa-chevron-left"></i></li>
<li><i class="fa fa-window-maximize full-card"></i></li>
<li><i class="fa fa-minus minimize-card"></i></li>
<li><i class="fa fa-refresh reload-card"></i></li>
<li><i class="fa fa-times close-card"></i></li>
</ul>
</div>
<div class="search">
  <input type="text" name="filter" [(ngModel)]="searchText" placeholder="Enter id" #fill>
</div>
<button class="col-md-12 col-xl-1" (click)="ButtonCickToAdd()">Add</button>
  </div>
  <div class="card-block table-border-style" >
      <div class="table-responsive" >
          <table class="table table-inverse">
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>First Name</th>
                      <th>Middle Name</th>
                      <th>Last Name</th>
                      <th>Birth Day</th>
                      <th>Sex</th>
                      <th>CIC</th>
                      <th>Phone</th>
                      <th>Address</th>
                      <th>Rank</th>
                      <th>Position</th>
                      <th>Account</th>
                      <th>Password</th>
                      <th>Active</th>
                      <th>UrlImage</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of datas | filter : searchText">
                      <td>{{item.id}}</td>
                      <td>{{item.firstName}}</td>
                      <td>{{item.middleName}}</td>
                      <td>{{item.lastName}}</td>
                      <td>{{item.dob}}</td>
                      <td>{{item.sex}}</td>
                      <td>{{item.cic}}</td>
                      <td>{{item.numberPhone}}</td>
                      <td>{{item.address}}</td>
                      <td>{{item.rank}}</td>
                      <td>{{item.position}}</td>
                      <td>{{item.account}}</td>
                      <td>{{item.password}}</td>
                      <td>{{item.active}}</td>
                      <td>{{item.urlImage}}</td>
                  </tr>

              </tbody>
          </table>
          <app-pagingnav   class="d-flex justify-content-end" [pagesize]="PageCount" (numberchange)="PageChange($event)" #child></app-pagingnav>
      </div>
  </div>
</div>
