
  <div class="team-manage w-100 mt-3">
    <div class="team row mt-2">
      <div class="col-6">
          My team
      </div>
      <div class="col-6 justify-content-end">
          Xem tất cả
      </div>
    </div>
    <div class="search d-flex align-items-center justify-content-center mt-2">
          <div class="">
            Search
          </div>
    </div>
    <div class="manage d-flex flex-row justify-content-between mt-2 gap-2 ">
      <div class="manage-directly d-flex justify-content-center align-items-center">
        <span>Quản lý trực tiếp</span>
      </div>
      <div class="manage-indirectly d-flex justify-content-center align-items-center">
        <span>Quản lý gián tiếp</span>
      </div>
    </div>
  </div>