
  <div class="team-manage w-100 mt-3">
    <div class="team row mt-2">
      <div class="col-6">
          My team
      </div>
      <div class="col-6 justify-content-end">
          Xem tất cả
      </div>
    </div>
    <div class="search d-flex align-items-center justify-content-center mt-2">
            <i class="bi bi-search search-icon"></i>
          <input type="text" class="search-input">
          
    </div>
    <div class="manage d-flex flex-row justify-content-between mt-2 gap-2 ">
      <div class="manage-group d-flex justify-content-center align-items-center">
        <span>Nhóm làm việc</span>
      </div>

    </div>
    <div class="manage-contact d-flex flex-column mt-2 gap-2">
      <div class="contact-information d-flex flex-row align-items-center gap-2" *ngFor="let item of listofdata">
          <div class="image">
              <span>{{item.img}}</span>
          </div>
          <div class="information d-flex flex-row gap-2">
              <span>{{item.name}}</span>
              
          </div>
      </div>
    </div>
  </div>
