<!--div class="theme-loader">
    <div class="loader-track">
        <div class="loader-bar"></div>
    </div>
</div-->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
    </div>
    <app-navbar></app-navbar>
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <app-sidebar></app-sidebar>
        </div>
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- header-->
                        <div class="page-header card">
                            <div class="card-block">
                                <h5 class="m-b-10">Accordion</h5>
                                <p class="text-muted m-b-10">lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                <ul class="breadcrumb-title b-t-default p-t-10">
                                    <li class="breadcrumb-item">
                                        <a href="index.html"> <i class="fa fa-home"></i> </a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#!">Basic Components</a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="#!">Accordion</a>
                                            </li>
                                </ul>
                            </div>
                            <!--body-->
                            <div class="page-body">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
