<app-spinner-alpha *ngIf="!flagAppear"></app-spinner-alpha>

<table  *ngIf="flagAppear" class="table table-hover table-borderless mb-0">
  <thead>
    <tr>
      <th><language-input  [DatasLanguague]="dataslanguage" FunctionID="DA000201"  /></th>
      <th><language-input  [DatasLanguague]="dataslanguage" FunctionID="DA000202"  /></th>
      <th><language-input  [DatasLanguague]="dataslanguage" FunctionID="DA000203"  /></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{item.name}}</td>
      <td>{{item.hourCheckin}} : {{item.minuteCheckin}}</td>
      <td>{{item.hourCheckout}} : {{item.minuteCheckout}}</td>
    </tr>
  </tbody>
</table>