<nav>
  <div class="navbar-wrapper">
    <div class="m-header">
      <a href="index.html" class="b-brand">
        <!-- ========   Change your logo from here   ============ -->
        <img src="../../../../../assets/images/t2pro-logo.png" alt="theme-logo" class="logot2pro" />
      </a>

    </div>
    <div class="ms-3 mt-2">
      <img class="rounded-circle" width="50px" src="assets/images/user/avatar-2.jpg">
    </div>

    <app-nav-content (NavCollapsedMob)="navCollapseMob()" class="scroll-div w-100"></app-nav-content>
  </div>
</nav>
