
.nofication-bg{
    border-radius: 100%;
    padding: 0.5rem;
    background-color: #f2f4f7;
    width: 40px;
    height: 40px; 
    cursor: pointer;
    i{
        font-weight: bold;
        color:black;
        font-size: 18px;

    }
}
.active-nofication{
    width: 12px;
    height: 12px;
    position: absolute;
    top: 1.4%;
    right: 4.2%;
}