
<h5>Update Position</h5>

<form class="form" #form="ngForm">
    <div class="form-group row">
      <label class="col-sm-5 col-form-label">ID</label>
        <div class="col-sm-10">
          <input type="text" id="id"  ngModel name="id" [ngModel]="data.id" class="form-control" >
        </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-5 col-form-label">Rank</label>
      <div class="col-sm-10">
        <select ngModel name="rankID" class="form-control" [(ngModel)]="data.rankID">
          <option *ngFor="let rank of RanksData" [value]="rank.iDrank" [selected]="rank.iDrank==data.rankID">{{ rank.name }}</option>
        </select>
      </div>
  </div>
    <div class="form-group row">
        <label class="col-sm-5 col-form-label">Position</label>
        <div class="col-sm-10">
          <select  ngModel name="positionID"  class="form-control" [(ngModel)]="data.positionID">
            <option *ngFor="let position of PositionsData" [value]="position.iDposition" [selected]="position.iDposition==data.positionID">{{ position.name }}</option>
          </select>
        </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-5 col-form-label">Money</label>
      <div class="col-sm-10">
          <input type="text" id="money"  ngModel name="money" [ngModel]="data.money"  class="form-control" >
      </div>
  </div>
  <ng-template [ngIf]="selectedID">
    <button class="btn btn-outline-info mx-auto" (click)="Update(form.value)"> Update </button>
  </ng-template>

  <ng-template [ngIf]="!selectedID">
    <button class="btn btn-outline-info mx-auto" (click)="Add(form.value)"> Add</button>
  </ng-template>
</form>


