<div class="row h-100">
  <div class="card main-container col-sm-8 ">
    <div class="card-body">
      <div class="d-flex flex-column gap-3">
        <div class="text-profile">
           Profile
        </div>
          <div class="d-flex flex-row justify-content-start align-item-center" >
            <div class="col-4 text-item">
              <div class="d-flex flex-column">
                <label> Name : </label>
                <span > {{EmployeeData.firstName + ' ' + EmployeeData.middleName + ' ' + EmployeeData.lastName}}</span>
              </div>

            </div>
            <div class="col-4 text-item">
              <div class="d-flex flex-column">
                <label> Date of Birth : </label>
                <span > {{EmployeeData.dob}}</span>
              </div>
            </div>

            <div class="col-4 text-item">
              <div class="d-flex flex-column">
                <label> CIC : </label>
                <span > {{EmployeeData.cic}}</span>
              </div>
            </div>

          </div>
          <div class="d-flex flex-row justify-content-start align-item-center" >
            <div class="col-4 text-item">
              <div class="d-flex flex-column">
                <label > Name : </label>
                <span > {{EmployeeData.firstName + ' ' + EmployeeData.middleName + ' ' + EmployeeData.lastName}}</span>
              </div>

            </div>
            <div class="col-4 text-item">
              <div class="d-flex flex-column">
                <label > Date of Birth : </label>
                <span > {{EmployeeData.dob}}</span>
              </div>
            </div>

            <div class="col-4 text-item">
              <div class="d-flex flex-column">
                <label> CIC : </label>
                <span > {{EmployeeData.cic}}</span>
              </div>
            </div>

          </div>
          <div class="d-flex flex-row justify-content-start align-item-center">
            <div class="col-4 text-item">
              <div class="d-flex flex-column">
                <label> Phone Number : </label>
                <span > {{EmployeeData.numberPhone}}</span>
              </div>

            </div>

            <div class="col-4 text-item">
              <div class="d-flex flex-column">
                <label> Position : </label>
                <span > {{EmployeeData.position}}</span>
              </div>

            </div>

            <div class="col-4 text-item">
              <div class="d-flex flex-column">
                <label> Level : </label>
                <span > {{EmployeeData.rank}}</span>
              </div>

            </div>

          </div>

          <div class="d-flex flex-row justify-content-start align-item-center">
            <div class="col-4 text-item">
              <div class="d-flex flex-column">
                <label> Account : </label>
                <span > {{EmployeeData.account}}</span>
              </div>

            </div>

            <div class="col-4 text-item">
              <div class="d-flex flex-column">
                <label> Password : </label>
                <span > {{EmployeeData.password}}</span>
              </div>
            </div>
          </div>
      </div>

    </div>
  </div>
  <div class="card main-container-1 col-sm-3" style="margin-left:15px">
    <div class="container">
      <div class="row">
        <div class="text-profile-right mt-3  ">
          Group
        </div>
        <div class="mt-3">
          <div class="mb-3" *ngFor="let item of ListActiveEmployee">
            <div class="d-flex flex-row gap-3">
              <div class="avt d-flex justify-content-center  align-self-center">
                <i class="fa-brands fa-facebook-messenger" (click)="onMessengerCLick(item)"></i>
              </div>
              <div class="d-flex flex-column">
                <div>{{item.firstName+" " + item.middleName+" " + item.lastName}}</div>
                <div>{{item.position}}</div>
                <div>{{item.rank}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
