<div class="row main-container">
  <div class="">
    <div class="work w-100 mt-3">
      <div class="work-infor d-flex flex-row justify-content-between t-2">
        <div>
          <div>
            Xin chào, Thanh
          </div>
          <div>
            Đây là hồ sơ cá nhân của bạn
          </div>
        </div>
        <div class="">
          this is options
        </div>
      </div>   
      <div class="work-hour d-flex flex-row mt-2 gap-3">
         <div class="hour-1 d-flex justify-content-center align-items-center">
            work 1
         </div>
         <div class="hour-2 d-flex justify-content-center align-items-center">
            work 2
         </div>
         <div class="hour-3 d-flex justify-content-center align-items-center">
            work 3
          </div>
         <div class="hour-4 d-flex justify-content-center align-items-center">
            work 4
         </div>
      </div>   
    </div>
    <div class="timekeeping-permit-container d-flex flex-row mt-4">
      <div class="timekeeping">
        <div class="timekeeping-nearest-date mt-2">
          7 ngày chấm công gần nhất
        </div>
      </div>
      <div class="permit">
        <div class="permit-statistic mt-2">
          Nghỉ phép
        </div>
      </div>
    </div>
  </div>
  
</div>